.image1{
    border: 5px solid darkred;
    border-radius: 50px;
    width: 50%;
}
.image2 {
    border: 5px black;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
}
h1{
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 2px;
    color: darkred;
    text-align: center;
}

body{
    font-family: Georgia, Times, serif;
    background-color: lightskyblue;
}
Ul{
    list-style-type: stars;
    margin: 5%;
    border: 1px dotted darkred;
    width: 30%;
}

.galochka-list {
    list-style-type: none;
}

.galochka-list li::before {
    content: "✓";
    margin-right: 10px;
    color: gold;
}